.bx-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: #79f;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
}

.bx-header .actions {
  display: none;
  &.-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(100vh - 56px);
    background: #79f;
    z-index: 999;
    padding: 2rem;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      height: 100%;

      .link {
        margin: 0;
        font-size: 20px;
      }
    }
  }
}

.bx-header .fa-bars {
  font-size: 28px;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bx-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bx-navigation .links > .link {
  text-decoration: underline;
  align-self: auto;
  line-height: 1.25rem;
  color: #fff;

  &.-primary {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #6b8ae6;
    background-color: #fff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    text-decoration: none;
  }
}
.bx-navigation .links * + * {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .bx-header {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .bx-header {
    height: 4rem;
  }
  .bx-header .fa-bars {
    display: none;
  }

  .bx-header .actions {
    display: flex;
  }
}
