.bx-footer {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.bx-footer .bx-navigation .logo {
  color: #bcd;
}
.bx-footer .bx-navigation .logo img {
  width: 120px;
}
.bx-button.-blue {
  color: #fff;
  background-color: #79f;
}
.bx-footer .bx-navigation a.link {
  color: #6b8ae6;
  margin-right: 1rem;
}
.bx-footer > .disclaimer p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #bcd;
  margin-top: 1.25rem;
}
