.bx-header {
  background: #79f;
  height: 4rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding-left: 6rem;
  padding-right: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 9;
  color: #fff;
  transition: all 0.6s ease;
}

.bx-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bx-navigation .logo {
  font-family: "Bree Serif", "Roboto", Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: -0.03em;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.bx-header .actions {
  display: flex;
  align-items: center;
}

.bx-header .actions > .links {
  margin-right: 2rem;
}

.bx-navigation .links > .link {
  text-decoration: underline;
  align-self: auto;
  line-height: 1.25rem;
  color: #fff;
  margin-left: 1rem;
}
.bx-navigation .links > .link.-primary {
  color: #6b8ae6;
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  padding: 0.5rem;
}
