.section-hero {
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #242e4d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-hero > .title {
  font-size: 4.1rem;
  line-height: 4rem;
  font-weight: 500;
  font-family: "Roboto", Helvetica, sans-serif;
  max-width: 700px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.section-hero > .title > em {
  background-image: linear-gradient(
    180deg,
    transparent 25%,
    #79f 25%,
    #79f 90%,
    transparent 90%
  );
  color: #fff;
  font-style: normal;
}

.section-hero > .bx-button {
  margin-top: 50px;
}

.bx-button.-overdark {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.4);
}

.bx-button.-large {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
