.section-purposes {
  padding: 6rem;
  background-color: #ebf0f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-purposes .title {
  min-width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  color: #6b8ae6;
  padding-right: 8vw;
  padding-left: 8vw;
  font-size: 2.8rem;
  line-height: 3rem;
}
.section-purposes .title em {
  background-color: #fff;
  font-style: normal;
}

.section-purposes .bx-button {
  align-self: center;
  margin: 0.5rem;
}

.bx-button {
  letter-spacing: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.section-purposes .buttons {
  display: flex;
  justify-content: center;
}
