.section-purposes {
  padding: 2rem;
  background-color: #ebf0f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-purposes .title {
  min-width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  color: #6b8ae6;
  padding-right: 8vw;
  padding-left: 8vw;
  font-size: 2.4rem;
  line-height: 3rem;
}
.section-purposes .title em {
  background-color: #fff;
  font-style: normal;
}

.section-purposes .bx-button {
  margin: 0.75rem;
  display: block;
}

.section-purposes .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .section-purposes {
    padding: 6rem;
  }
  .section-purposes .buttons {
    flex-direction: row;
  }
  .section-purposes .bx-button {
    align-self: center;
  }
}
